<div class="text-center">
  <mat-card class="mat-elevation-z2 m-2">
    <mat-card-header>
      <mat-card-title>Buyer Login</mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title>Agent Login</mat-card-title>
    </mat-card-header>
    <mat-form-field class="full-width">
      <input matInput placeholder="Username / Email Address" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" type="password" autocomplete="off">
    </mat-form-field>
    <mat-card-actions>
      <button mat-flat-button>Log In</button>
    </mat-card-actions>
  </mat-card>
</div>
