<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">Propify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="how-it-works">How it works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us">Contact us</a>
      </li>
    </ul>

    <button class="btn btn-square btn-outline-secondary  mr-1" routerLink="sign-up" type="button">Sign Up</button>
    <button class="btn btn-primary  mr-1" type="button">Buyer/Seller</button>
    <button class="btn btn-primary" type="button">Agent</button>
  </div>
</nav>
