<form class="full-width text-center">
  <p>Contact us</p>
  <mat-form-field class="full-width">
    <input matInput placeholder="Email Address" type="email" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Mobile Phone" type="tel" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="How can we help ?" type="tel" autocomplete="off" rows="5"></textarea>
  </mat-form-field>
  <button mat-flat-button>Submit</button>
</form>
