<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="fill-rest"></span>
    <div *ngIf="!loggedIn">
      <button mat-raised-button (click)="openSignUp()">
        Sign Up
      </button>
      <button mat-flat-button (click)="openLogin(snav, 'buyer')" *ngIf="!mobileQuery.matches">
        Buyer
      </button>
      <button mat-flat-button (click)="openLogin(snav, 'agent')" *ngIf="!mobileQuery.matches">
        Agent
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div *ngIf="!loggedIn">
          <a mat-list-item (click)="openLogin(snav, 'buyer')" *ngIf="mobileQuery.matches">
            <span>Buyer</span>
            <span class="fill-rest"></span>
            <mat-icon>people</mat-icon>
          </a>
          <a mat-list-item (click)="openLogin(snav, 'agent')" *ngIf="mobileQuery.matches">
            <span>Agent</span>
            <span class="fill-rest"></span>
            <mat-icon>verified_user</mat-icon>
          </a>
          <mat-divider *ngIf="mobileQuery.matches"></mat-divider>
        </div>
        <a class="text-right" mat-list-item routerLink="how-it-works">
          <span>How it works</span>
          <span class="fill-rest"></span>
          <mat-icon>slideshow</mat-icon>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="openContactUs(snav)">
          <span>Contact us</span>
          <span class="fill-rest"></span>
          <mat-icon>phone_in_talk</mat-icon>
        </a>
        <a mat-list-item (click)="snav.toggle()">
          <span>Close</span>
          <span class="fill-rest"></span>
          <mat-icon>close</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container mt-5" [class.text-center]="mobileQuery.matches" [class.text-left]="!mobileQuery.matches">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
